################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatternsInDotNET/.vs/DesignPatternsInDotNET
/DesignPatternsInDotNET/DesignPatternsInDotNET/obj
/DesignPatternsInDotNET/DesignPatternsInDotNET/bin/Debug/net6.0
/DesignPatternsInDotNET/Composite/bin/Debug/net6.0
/DesignPatternsInDotNET/Composite/obj
/DesignPatternsInDotNET/Singleton/bin/Debug/net6.0
