################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatternsInDotNET/.vs/DesignPatternsInDotNET
/DesignPatternsInDotNET/DesignPatternsInDotNET/obj
